/*------------------------------------*
   $CONTACT FORM
*------------------------------------*/

.form-wrap
  padding 0 0 2.5em

.contact-form
  display block
  overflow hidden
  clearfx()

  .no-js &
    display none

.contact-form__item
  width 100%
  border none
  resize none
  border 1px solid #ccc
  -webkit-appearance none
  outline none
  position relative
  background-color #f9f9f9
  clearfx()

.contact-form__message
  box-sizing border-box
  font-size 15px
  font-weight 600
  color $base-color
  padding 26px 30px 23px 30px
  height 70px
  margin-bottom 16px
  transition height .2s ease-out

.contact-form__input
  height 60px
  box-sizing border-box
  font-size 15px
  font-weight 600
  color $base-color
  margin-bottom 18px
  padding 26px 30px 23px 30px

.contact-form__file
  display block
  box-sizing border-box
  font-size 15px
  font-weight 600
  height 60px
  line-height 60px
  color #A9A9A9
  margin-bottom 18px
  padding 0 30px 0 30px
  margin-bottom 18px
  cursor pointer

  input
    visuallyhidden()

.contact-form__submit
  background-color $base-color
  -webkit-appearance none
  border none
  color #fff
  padding 0em 2em
  height 4em
  text-transform uppercase
  font-weight 600
  font-size 12px
  letter-spacing 1px
  transition background-color .25s ease

  &:hover,
  &:focus
    background-color $link-color

.form__block-left
  height 0px
  overflow hidden
  transform translateX(-100%)
  transition height .2s ease-out, transform .5s .5s ease

.form__block-right
  height 0px
  overflow hidden
  transform translateX(100%)
  transition height .2s ease-out, transform .5s .5s ease

.form__block-submit
  height 0
  opacity 0
  transition height .5s 1s ease, opacity .5s 1s ease-out
  outline none

.contact-form.expanded
  .contact-form__message
    height 200px

  .form__block-left
    height 150px
    transform translateX(0)

  .form__block-right
    height 150px
    transform translateX(0)

  .form__block-submit
    height 50px
    opacity 1


.asterisk
  position relative
  float right
  color #C02932
  margin-top -56px
  margin-right 20px
  font-size 14px
  z-index 10
