/*------------------------------------*
   $DEFAULTS
*------------------------------------*/
/**
 * Site default variables
 */

// Colors
$base-color = #404956
$link-color = #29BA9C

// Fonts
$base-font-family = "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, arial, sans-serif

// Global border box
$global-border-box = true

// Grid variables
$base-spacing-unit = 18px
